<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>AttackGPT - About</title>
        <meta charset="utf-8">

        <!-- Enable touch zooming and ensure proper rendering on mobile devices -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">
    </head>

    <body>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark m-2 rounded">
            <div class="container-fluid">
                <a class="navbar-brand mx-5" href="{{ url_for('index') }}">AttackGPT</a>

                <!-- Hamburger icon for navigation links on smaller screens -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible navigation bar -->
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-5 active">
                            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                        </li>
                        <li class="nav-item mx-5">
                            <a class="nav-link" href="{{ url_for('about') }}">About</a>
                        </li>
                        <li class="nav-item mx-5">
                            <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row display-5 mx-5 mt-5">What is AttackGPT</div>
            <div class="row mx-5 mt-4">In the ever-evolving landscape of natural language processing, ensuring the security and
                reliability of AI language models is important. One of the notable advancements in this field
                is ChatGPT, an AI model designed for engaging in conversational interactions. While
                ChatGPT exhibits impressive capabilities, its  robustness to adversarial inputs and potential vulnerabilities requires comprehensive exploration.<br><br>
                                
                To address this concern, a web application called AttackGPT is designed to explore the impacts of adversarial attacks on GPT-3.5 text prompts
                and their corresponding outputs. This project was developed in October 2023 by the Monash University Malaysia, School of Information Technology (SOIT) 
                Final Year Project team MCS19. <br><br>

                The attacks in AttackGPT were implemented by leveraging the TextAttack framework. Our Bias attack is a custom addition 
                developed within the framework, focusing on specific aspects like Gender, Race, Religion, and Sexuality, with the purpose to trigger biased responses from ChatGPT.
                Additionally, AttackGPT features 4 other attack recipes sourced directly from the pre-existing set of recipes available within the TextAttack framework,
                which are DeepWordBug, TextBugger, TextFooler, and CheckList.
            </div>

            <div class="row display-5 mx-5 mt-4">How Does AttackGPT Work</div>
            <div class="row mx-5 mt-4">1) AttackGPT provides two distinct methods for selecting text to be attacked:<br><br>
                <div class="mx-5">
                    <b>(Option A) Our Bias Attack:</b>
                    Users can enter text directly into the input box, text length needs to be between 10 and 200 characters.<br><br>
                    
                    <b>(Option B) Attack Recipes from TextAttack:</b>
                    Alternatively, users can choose a specific prompt and attack recipe from a list of 40 prompts and 4 attack recipes. <br><br>
                </div>
                2) Clicking the 'Attack' button initiates the attack process for the original text.<br><br>
                
                3) The attack results and performance will be shown. The performance is based on:<br><br>
                <div class="mx-5">
                    <b>Probability:</b> Evaluates the likelihood of each answer being generated by Human or AI. <br>
                    <div class="mx-5">(Based on Originality.ai API for AI Detection)</div><br>

                    <b>Similarity:</b> Calculates the percentage of similarity between the two answers.
                    <div class="mx-5">(Based on all-MiniLM-L6-v2 sentence-transformers model)</div><br>

                    <b>Bias Score and Sentiment:</b> Specifically for bias attacks, the bias score and sentiment are provided for both answers.
                    <div class="mx-5">(Bias Detection: Based on DistilROBERTA fine-tuned model for Bias Detection)</div>
                    <div class="mx-5">(Sentiment Analysis: Based on Twitter-RoBERTa-base model for Sentiment Analysis)</div>
                </div>                
            </div>

            <div class="row display-5 mx-5 mt-4">Why Use AttackGPT</div>
            <div class="row mx-5 mt-4">
                AttackGPT offers a unique approach to explore the impacts of adversarial attacks on GPT-3.5 prompts. By providing users with the opportunity to test different 
                attacks and observe the results, we aim to encourage users to analyse the motivations behind each effective attack. This analysis can be used 
                to improve ChatGPT or other text-generative models. Researchers, developers, 
                and enthusiasts can benefit from AttackGPT's features for ethical AI exploration and responsible technology development.                                
            </div>

            <div class="row display-5 mx-5 mt-4">The Limitations</div>
            <div class="row mx-5 mt-2">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-3 card bg-light mx-3 mt-4 mb-2 border border-success border-2 rounded-lg">
                            <div class="card-body">
                                1) AttackGPT is designed for text-based inputs.
                            </div>
                        </div> 
                        <div class="col-4 card bg-light mx-3 mt-4 mb-2 border border-success border-2 rounded-lg">
                            <div class="card-body">
                                2) AttackGPT is heavily reliant on external resources/services (APIs), unavailability of any of the services will result in an error.
                            </div>
                        </div>
                        <div class="col-4 card bg-light mx-3 mt-4 mb-2 border border-success border-2 rounded-lg">
                            <div class="card-body">
                                3) For the results, probabilities for Human/AI are displayed only if both answers have a minimum length of 50 words.
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-3 card bg-light mx-3 mt-4 mb-2 border border-success border-2 rounded-lg">
                            <div class="card-body">
                                4) Results of the attacks may vary based on the complexity and length of the input text being attacked.
                            </div>
                        </div>    
                        <div class="col-4 card bg-light mx-3 mt-4 mb-2 border border-success border-2 rounded-lg">
                            <div class="card-body">
                               5) The evaluation results of the same input & perturbed text may be different each time as the results are based on the APIs used.
                            </div>
                        </div>   
                        <div class="col-4 card bg-light mx-3 mt-4 mb-2 border border-success border-2 rounded-lg">
                            <div class="card-body">
                               6) For the Bias Attack, entering the same input text may result in a different perturbed text each time due to the random nature of the attack.
                            </div>
                        </div>                                          
                    </div>
                    <div class="row">
                        <div class="col-3 card bg-light mx-3 mt-4 mb-2 border border-success border-2 rounded-lg">
                            <div class="card-body">
                                7) The Bias Attack will only work for text written in English language.
                            </div>
                        </div>    
                        <div class="col-4 card bg-light mx-3 mt-4 mb-2 border border-success border-2 rounded-lg">
                            <div class="card-body">
                               8) The input text length of Bias Attack is limited to 200 characters.
                            </div>
                        </div>   
                        <div class="col-4 card bg-light mx-3 mt-4 mb-2 border border-success border-2 rounded-lg">
                            <div class="card-body">
                               9) The duration of the attack process for Bias Attack is not fixed, it may take anywhere from a few seconds to a few minutes.
                            </div>
                        </div>                                          
                    </div>
                    <div class="row">
                        <div class="col-3 card bg-light mx-3 mt-4 mb-2 border border-success border-2 rounded-lg">
                            <div class="card-body">
                                10) The Bias Attack is not guaranteed to work for all inputs, it may fail to perturb the input text.
                            </div>
                        </div>    
                        <div class="col-4 card bg-light mx-3 mt-4 mb-2 border border-success border-2 rounded-lg">
                            <div class="card-body">
                                11) The perturbed text generated from the TextAttack attack recipes are pre-determined, the same input text will always result in the same perturbed text.
                            </div>
                        </div>   
                        <div class="col-4 card bg-light mx-3 mt-4 mb-2 border border-success border-2 rounded-lg">
                            <div class="card-body">
                               12) The web application is hosted on a free server, the website may crash when performing the attacks. (especially for Bias Attack)
                            </div>
                        </div>                                          
                    </div>                                  
                </div>
            </div>

            <div class="row display-5 mx-5 mt-5">Our Team</div>
            <div class="row mx-3 mt-4">
                <div class="d-flex justify-content-evenly">    
                    <div class="text-center"> 
                        <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" class="rounded" 
                        width="200" alt="Avatar">
                        <p class="mt-2" style="font-size: x-large;">Tan Hui Thang</p>
                        <span style="font-size: medium;"><i>Technical Lead</i></span>
                    </div> 
                    <div class="text-center"> 
                        <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" class="rounded" 
                        width="200" alt="Avatar">
                        <p class="mt-2" style="font-size: x-large;">Samuel Tai Meng Yao </p>
                        <span style="font-size: medium;"><i>QA Tester</i></span>
                    </div> 
                    <div class="text-center"> 
                        <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" class="rounded" 
                        width="200" alt="Avatar">
                        <p class="mt-2" style="font-size: x-large;">Koo Wai Kit</p>
                        <span style="font-size: medium;"><i>Project Manager</i></span>
                    </div>                        
                </div>                               
            </div>
            <div class="row mx-2 mt-4 mb-5">
                <div class="d-flex justify-content-evenly">    
                    <div class="text-center"> 
                        <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" class="rounded" 
                        width="200" alt="Avatar">
                        <p class="mt-2" style="font-size: x-large;">Prof Raphaël Phan</p>
                        <span style="font-size: medium;"><i>Supervisor</i></span>
                    </div>  
                    
                    <div class="text-center"> 
                        <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" class="rounded" 
                        width="200" alt="Avatar">
                        <p class="mt-2" style="font-size: x-large;">Dr Sailaja Rajanala</p>
                        <span style="font-size: medium;"><i>Collaborator</i></span>
                    </div> 
                    
                    <div class="text-center"> 
                        <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" class="rounded" 
                        width="200" alt="Avatar">
                        <p class="mt-2" style="font-size: x-large;">Dr Arghya Pal</p>
                        <span style="font-size: medium;"><i>Collaborator</i></span>
                    </div>                                             
                </div>                                
            </div>
        </div>

        
        <!-- Bootstrap JS file to enable Bootstrap's interactive components. -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>

</html>